/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.popup_cont {
	position: fixed;
	z-index: 102;
	left: 0 !important;
	top: 0 !important;
	max-height: 100vh;
	width: 100%;
}

.preloader {
	z-index: 101;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
	color: #fff;
	cursor: pointer;
	position: absolute;
	font-size: 30px;
	right: 5px;
	top: 0;
}

.popup_close:hover {
	color: #111;
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: transparent;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}